
$widthContainer: 1200px;
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    &__container{
        width: $widthContainer;
        height: 100%;
        border: 1px solid #000;
        @include center();
        flex-direction: column;
        gap: 10px;
    }
}




/////

.signUp{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    &__container{
        width: $widthContainer;
        height: 100%;
        border: 1px solid #000;
        @include center();
        flex-direction: column;
        gap: 10px;
    }
}

