@import url("https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
.login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__container {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login form input {
  width: 380px;
  height: 45px;
  border: none;
  background: #EFF3F9;
  border-radius: 4px;
  padding: 0 10px;
}
.login form button {
  border: none;
  width: 190px;
  height: 50px;
  background: #6864ED;
  -webkit-box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
          box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
  border-radius: 8px;
  color: #fff;
}

.signUp {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.signUp__container {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.signUp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signUp form input {
  width: 380px;
  height: 45px;
  border: none;
  background: #EFF3F9;
  border-radius: 4px;
  padding: 0 10px;
}
.signUp form button {
  border: none;
  width: 190px;
  height: 50px;
  background: #6864ED;
  -webkit-box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
          box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
  border-radius: 8px;
  color: #fff;
}

.startPage {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/start_bg.jpg);
  background-size: cover;
}
.startPage__container {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
.startPage__container a {
  text-decoration: none;
}
.startPage__container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.startPage__container img {
  width: 400px;
}
.startPage__btn {
  border: none;
  width: 190px;
  height: 50px;
  background: #6864ED;
  -webkit-box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
          box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
  border-radius: 8px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/start_bg.jpg);
  background-size: cover;
}
.main__progress {
  width: calc(100% - 230px);
  position: absolute;
  right: 0;
  height: calc(100% - 90px);
  border-radius: 10px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.main__progress-item {
  border: 1px solid #fff;
  width: 50%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main__progress-item:hover {
  background: #EEEEFD;
  color: #6864ED;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__header-container {
  position: relative;
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.main__header-container .logo__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__header-container .logo__holder img {
  width: 45.89px;
  height: 53.5px;
}
.main__header-container .options__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  z-index: 3;
}
.main__header-container .options__holder p {
  font-size: 20px;
  font-weight: 500;
}
.main__header-container button {
  border: none;
  width: 190px;
  height: 50px;
  background: #6864ED;
  -webkit-box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
          box-shadow: 0px 6px 26px rgba(27, 26, 26, 0.25);
  border-radius: 8px;
  color: #fff;
  width: 120px;
}
.main__container {
  padding-top: 70px;
  position: relative;
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.main__options {
  width: 220px;
  height: calc(100% - 90px);
  margin-top: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 8px rgba(102, 110, 122, 0.19);
          box-shadow: 0px 2px 8px rgba(102, 110, 122, 0.19);
  margin-bottom: 10px;
}
.main__options option {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main__options option:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.main__options option:hover {
  background: #EEEEFD;
  color: #6864ED;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}